@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Roboto:wght@300;400;500;700;900&display=swap');
@import "../_abstracts/mixins";
@import "../_abstracts/variables";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include big-desktop(){// < 1200px
        font-size: 75%; //1rem = 12, 12/16
    }

    @include tab-land(){// < 1200px
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include tab-port(){ // < 900px
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include mobile(){ // < 600px
        background-color: purple;
        font-size: 35%;
    }

    font-family: $font-default;
    color: white;
}

body {
    background-color: black;
    padding: 3rem;
    background-color: #1a1a1a;
    @include mobile(){
        padding: 0;
    }

}

a {
    text-decoration: none;
    color: white;
}