@import "../_abstracts/variables";

/*--------------------Title--------------------*/
.title {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all .4s ;
    
    &--hover {
        &:hover {
            transform: scale(1.1) skew(15deg, 2deg);
        }
    }

    &--big {
        font-size: 6rem;
    }

    &--med {
        font-size: 4rem;
    }

    &--small {
        font-size: 2rem;
    }

    &--extra-small {
        font-size: 1rem;
    }
}

.title-secondary {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}