@import "../_abstracts/variables";
@import "../_abstracts/mixins";

.about {
    padding: 0 5rem;
    &__content {
        padding-top: 3rem;
        padding-bottom: 10rem;
        @include flex();
        @include mobile(){
            @include flex(column);
        }
        gap: 3rem;
    }
    &__introduce {
        flex-basis: 50%;

        & > h3 {
            // display: block;
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            //scroll-animation
            &:nth-child(1){
                transition-delay: .3s;
                
            }
            &:nth-child(3){
                transition-delay: .8s;
            }
        }

        & > p:not(:last-child) {
            margin-bottom: 5rem;
        }

        & > p{
            font-size: 1.3rem;
            font-weight: 300;

            //scroll-animation
            &:nth-child(2){
                transition-delay: .5s;
                
            }

            &:nth-child(4){
                transition-delay: 1s;
            }
        }
    }

    &__composition {
        flex-basis: 50%;
        position: relative;
    }

    @include mobile(){
        min-height: 15rem;
    }

}

.scroll--hidden {
    @include scroll-effect-hidden-gen();
    transform: translateY(-50%);
}


.scroll--show {
    @include scroll-effect-show-gen();
    transform: translateY(0);
}







