@import "../_abstracts/variables";
@import "../_abstracts/mixins";

.card {
    flex-grow: 0;
    &--trending {
        @include mobile(){
            padding: 1rem;
            flex-basis: 10rem;
        }
        @include tab-port(){
            padding: 1rem;
            flex-basis: 25rem;
        };

        @include tab-land(){
            padding: 1rem;
            flex-basis: 30rem;
        }

        @include normal-screen(){
            padding: 1rem;
            flex-basis: 27rem;
        }

        @include big-desktop(){
            padding: 1rem;
            flex-basis: 30rem;
        }
    }

    &--others { 
        @include mobile(){
            padding: 1.5rem;
            flex-basis: 25rem;
        }

        @include tab-port(){
            padding: 1rem;
            flex-basis: 20rem;
        };

        @include tab-land(){
            padding: 1rem;
            flex-basis: 20rem;
        }

        @include normal-screen(){
            padding: 1rem;
            flex-basis: 20rem;
        }

        @include big-desktop(){
            padding: 1rem;
            flex-basis: 20rem;
        }
       
    }

    &__image {
        position: relative;
        width: 100%;
        border-radius: 2rem;

        &--others {
            height: 300px;      
        }

        img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            border-radius: 2rem;
        }

        transition: all .4s ease-out;
    }

    &__name {
        padding: 1rem;
        font-size: 1.3rem;
        display: block;
        text-align: right;
        @include tab-land(){font-size: 1.5rem};
    }
    
    &__description {
        color: grey;
        font-size: 1.2rem;
        font-weight: 300;
    }

    &:hover &__name {
        font-weight: 500;
        color: $color-primary-light;
    }

    &:hover &__image {
        transform: translateY(-2rem) scaleX(1.1);
        box-shadow: 0 10px 20px rgba($color-primary-light, .5);
    }
}