@import '../_abstracts//variables';

.search {
  position: relative;
  &__input {
    margin: 0;
    height: 2.7rem;
    outline: none;
    margin-bottom: 45px;
    font-size: 1.3rem;

    transition: all 0.2s ease-out;
    &::placeholder {
      font-size: 1.4rem;
      text-align: right;
      color: $color-white;
    }

    border: 0;
    border-bottom: 0.5px solid $color-white;
    background-color: transparent;
    padding: 2rem;
    color: $color-white;
    transition: all 0.4s ease-out;
  }

  &__label {
    position: absolute;
    top: 15%;
    left: 25%;
    opacity: 0;
    transition: all 0.5s ease-out;
  }

  &__input:focus {
    &::placeholder {
      opacity: 0;
    }
    box-shadow: 0 10px 20px rgba($color-primary-dark, 0.2);
    border-bottom: 0.5px solid $color-primary-light;
  }

  &__input:focus ~ &__label {
    top: -1rem;
    left: 0;
    opacity: 1;
  }
}
