@import "../_abstracts/variables";
@import "../_abstracts/mixins";

.detailmovie {
    border-radius: 2rem;
    &__preview {
        width: 100%;
        @include flex();
        justify-content: center;
        & img {
            width: 20%;
            height: 50%;
            object-fit: cover;
            box-shadow: 0 10px 20px rgba($color-primary-light, .3);
            border-radius: 10px;
        }
    }

    &__content {
        @include flex(column);
        padding: 2rem;
        box-shadow: 0 10px 20px rgba($color-primary-light, .3);
        font-size: 1.7rem;
        @include mobile(){
            font-size: 2rem;
            align-items: center;
        }

        background-image: linear-gradient(to right bottom,
        rgba(rgb(72, 70, 70), 0.6), rgba(rgb(30, 16, 6), 0.5)) 
        ,url('../../assets/images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg');
        background-size: cover;
        background-position: center;
        object-fit: cover
    }

    &__name {
        @include flex(row, null, center);
        flex-basis: 20%;
        font-weight: 700;
        color: $color-primary-light;
        gap: 2rem;
        @include mobile(){
            @include flex(column);
            font-size: 2rem;
        }
    }

    &__tag {
        background-color: $color-white;
        color: $color-black;
        padding: .3rem;
        border-radius: 1rem;
        margin-right: 1rem;
        font-size: 1.1rem;
    }
    &__description {
        flex-basis: 70%;
        font-weight: 100;
        @include flex(column);
        gap: 1rem;
        
        & > span {
            font-size: 1.5rem;
        }
    }

    &__resume {
        color: grey;
        font-size: 1.6rem;
    }

    &__actors {
        @include flex(row, flex-start);
        gap: 3rem;
    }
}