@import "../_abstracts/variables";
@import "../_abstracts/mixins";

.detailmovie {
    position: relative;
    @include flex(row);
    @include mobile(){
        @include flex(column);
    }
    color: $color-white-secondary;
    font-size: 2rem;
    padding: 2rem;
    gap: 3rem;
    
    &__preview {
        flex: 30%;
        @include flex(column, center, center);
        gap: 3rem;
        & img {
            width: 100%;
            @include mobile(){
                width: 50%;
            }
            object-fit: cover;
            box-shadow: 0 10px 20px rgba($color-primary-light, .3);
            border-radius: 10px;
        }
    }

    &__content {
        flex: 70%;
        @include flex(column);
        gap: 1rem;
    }
    &__tag {
        &:not(:last-child){
            margin-right: 1rem;
        }
        padding: .4rem;
        border-radius: .4rem;
        font-size: 1.5rem;
        font-weight: 300;
        background-color: $color-white;
        color: $color-black;
    }
    

    &__resume {
        font-weight: 100;
        color: $color-grey;
    }

    &__actors {
        @include flex(row, flex-start);
        gap: 2rem;
    }
}