@import "../_abstracts/mixins";
@import "../_abstracts/variables";
@import "../_base/animation";

.nav {
    @include flex(row, space-between, center);
    @include mobile(){
        @include flex(column);
        margin-bottom: 5rem;
    }
    padding: 1rem 2rem;
    &__links {
        // flex: 2;
        display: flex;
        justify-content: flex-end;
        gap: 3rem;
        font-size: 4rem;
        font-family: $font-secondary;
        
        & > a {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 6rem;
                height: .3rem;
                transition: all .3s ease-out;
                top: 90%;
                left: -3rem;
            }
            transition: all .3s ease-out;
        }
        & > a:hover {
            &::after {
                background-color: $color-primary-light;
                transform: translateX(3.5rem);
            }
        }

        &--active{
            &::after {
                background-color: $color-primary-light;
                transform: translateX(3.5rem);
            }
        }
    }
    position: sticky;
    top: 0;
    z-index: 99;
}