@import "../_abstracts/variables";
@import "../_abstracts/mixins";


.review {
    padding: 2rem;
    @include flex(column, center, center);
    min-height: 40rem;
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
     //Video background
    &__bgvideo{
        width: 100%;
        height: 100%;
        position: absolute;
        filter: brightness(80%);
        z-index: -1;
        &__content{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }
    
    &__content {
        color: $color-white-secondary;
        border-top: .5px solid $color-white;
        width: 70%;
        min-height: 20rem;
        @include mobile(){
            width: 80%;
            min-height: 25rem;
        }
        @include flex(row, null, center);
        overflow: auto;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    &__item{
        position: relative;
        transition: all .4s ease-out;
        border-radius: 2%;
        &:hover {
            background-color: rgba($color-black, .3);
            // border-right: .5px solid $color-primary-light;
        }
    }
    
    &__item:hover &__paragraph {
        box-shadow: 0 10px 20px rgba($color-primary-dark, .3);
        opacity: .7;
    }

    &__paragraph {
        width: 20rem;
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        opacity: .3;
        @include mobile {
            font-weight: 500;
        }
        transition: all .5s ease;
    }


    &__star {
        position: absolute;
        top: 40%;
        opacity: 0;
        transition: all .2s ease;
        &--1 {
            &:nth-of-type(1){
                left: 20%;
            }
        }

        &--2{
            &:nth-of-type(2){
                left: 30%;
            }    
        }

        &--3{
            &:nth-of-type(3){ 
                left: 40%;
            }    
        }

        &--4{
            &:nth-of-type(4){
                left: 50%;
            }    
        }

        &--5{
            &:nth-of-type(5){ 
                left: 60%;
            }    
        }
    }

    &__item:hover &__star {
        opacity: .7;
    }

    &__date {
        position: absolute;
        top: .2rem;
        right: 2rem;
        opacity: 0;
        transition: all .5s ease-out;
    }

    &__item:hover &__date {
        opacity: .5;
        right: .5rem;
    }

   
}
