@import "../_abstracts/variables";
@import "../_abstracts/mixins";


.review {
    @include flex(column, center, center);
    min-height: 40rem;
    background-color: rgba($color-black, .6);
     //Video background
    &__bgvideo{
        width: 100%;
        height: 100%;
        position: absolute;
        filter: brightness(80%);
        z-index: -1;
        &__content{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }
    position: relative;
    top: 0;
    left: 0;
    &__content {
        width: 50%;
        min-height: 20rem;
        @include mobile(){
            width: 60%;
            min-height: 25rem;
        }
        @include flex(row, center, center);
        overflow: auto;
        gap: 2rem;
    }

    &__item{
        transition: all .7s ease-out;
        border-radius: 2%;
        &:hover {
            background-color: rgba($color-black, .5);
            border: thin solid $color-primary-light;
        }
    }
    
    &__item:hover &__paragraph {
        display: inline-block;
        box-shadow: 0 10px 20px rgba($color-primary-dark, .2);
    }

    &__paragraph {
        display: none;
        width: 20rem;
        color: $color-white-secondary;
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
    }
}
