@import "./card";
@import "../_abstracts/mixins";

.trending-section {
    padding: 7rem 2rem;

    @include mobile(){
        padding: 0;
    }

    &__header {
        @include flex();
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @include mobile(){
            @include flex(column);
            justify-content: center;
        }
    }

    &__search {
        border: .5px solid $color-primary-light;
        border-radius: 3rem;
        height: 2.7rem;
        outline: none;
        margin-bottom: 45px;
        
    }
    
    &__movies {
        @include flex();
        border-radius: 1rem;
        box-shadow: 0 10px 20px rgba($color-primary-dark, .1);
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}