@import "../_abstracts/mixins";
@import "../_abstracts/variables";

.footer {
    color: $color-white-secondary;
    height: 25vh;
    font-size: 1rem;
    background: $color-black;
    font-weight: 300;
    text-transform: uppercase;
    h3 {
        color: $color-grey;
        font-weight: 300;
    }

    &__container {
        @include flex(row, space-between, center);
        height: 100%;
        width: 100%;
        padding: 2rem;
    }

    &__social{
        @include flex(column, center, flex-start);
        height: 100%;
        gap: 2rem;
    }

    &__brand{
        @include flex(column, null, center);
    }

    &__general{
        @include flex(column, center, flex-end);
        height: 100%;
        gap: 2rem;
    }

    &__url {
        font-size: 1rem;
        transition: all .5s ease-out;
    }

    &__url:hover {
        text-decoration: underline $color-primary-light;

    }
}