@import "../_abstracts/mixins";
@import "../_abstracts/variables";
@import "../_base//animation";

.header {
    padding: 1rem;
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(rgb(72, 70, 70), 0.9), rgba(rgb(30, 16, 6), 0.5)) 
    ,url('../../assets/images/movie-bg-2.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

    &__container-slogan {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__slogan {
        display: block;
        &--main {
            font-size: 7rem;
            @include mobile(){
               font-size: 4.5rem;
            }
            font-weight: 300;
            letter-spacing: 3rem;
            text-transform: uppercase;
            animation: moveRight 1s alternate ease-out;
        }

        &--sub {
            font-size: 2.6rem;
            @include mobile(){
                font-size: 2rem;
             }
            font-weight: 700;
            letter-spacing: 1.2rem;
            animation: moveToLeft 1s alternate ease-out;
            text-transform: uppercase;
        }
    }
}

.nav {
    @include flex(row, null, center);
    gap: 2rem;
    @include mobile(){
        @include flex(column);
        gap: 1rem;
    }

    &__brand {
        flex: 1;
        font-size: 4rem;
        color: $color-primary-light;
        font-family: $font-secondary;
        font-weight: 700;
    }
    
    &__links {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        gap: 3rem;
        font-size: 2rem;
        font-family: $font-secondary;
        
        & > a {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 6rem;
                height: .1rem;
                transition: all .3s ease-out;
                top: 90%;
                left: -3rem;
            }
            transition: all .3s ease-out;
        }
        & > a:hover {
            &::after {
                background-color: $color-primary-light;
                transform: translateX(4rem);
            }
        }
    }

   
}