@import "../_components/card";
@import "../_abstracts/mixins";

.movies-section {
    padding: 3rem 2rem;
    @include mobile(){
        padding: 3rem 0;
    }
    &__header {
        @include flex();
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @include mobile(){
            @include flex(column);
            justify-content: center;
        }
    }

    &__search{
        position: relative;
        &-input {
            
            margin: 0;
            height: 2.7rem;
            outline:none;
            margin-bottom: 45px;
            font-size: 1.3rem;
            
            transition: all .2s ease-out;
            &::placeholder {
                font-size: 1.4rem;
                text-align: right;
                color: $color-white;
            }
            
            border: 0;
            border-bottom: .5px solid $color-white;
            background-color: transparent;
            padding: 2rem;
            color: $color-white; 
            transition: all .4s ease-out;  
        }

        &-label {
            position: absolute;
            top: 15%;
            left: 25%;
            opacity: 0;
            transition: all .5s ease-out;
        }

        &-input:focus {
            &::placeholder {
                opacity: 0;
            }
            box-shadow: 0 10px 20px rgba($color-primary-dark, .2);
            border-bottom: .5px solid $color-primary-light;
        }

        &-input:focus ~ &-label{
            top: -1rem;
            left: 0;
            opacity: 1;
        }
        
    }
    &__content {
        @include flex(column, null, center);
    }
    &__moviesList {
        @include flex();
        flex-wrap: wrap;
        &--trending {
            justify-content: center;
        }
        &--others {
            justify-content: flex-start;
            @include mobile(){
                justify-content: center;
            }
        }
    }

    &__cta-loadmore {
        width: 100%;
        text-align: center;
    }
}