/*------------------VARIABLES------------------*/
$font-secondary: 'Bevan', serif;
$font-default: 'Roboto', sans-serif;


$color-primary-light: #ffb900;
$color-primary-dark: #ff7730;

$color-white: #fff;
$color-black: #000;