/*------------------VARIABLES------------------*/
$font-secondary: 'Bevan', serif;
$font-default: 'Roboto', sans-serif;

$color-primary-light: #ffb900;
$color-primary-dark: #ff7730;

$color-white: #fff;
$color-white-secondary: #f5f5f7;
$color-grey: #86868b;
$color-black: #000;
$color-background: #1a1a1a;
